<a href="https://colab.research.google.com/github/Bboyigor/Python_Practice/blob/main/Python_practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Рядки (String).

1. Створити пустий рядок двома різними способами.

In [1]:
var_1 = ''
var_2 = str()

2. Створити рядок з апострофом.

In [2]:
ball = "сім'я"

3. Створити рядок з символом переходу на новий рядок та роздрукувати його в консоль.

In [5]:
line_1 = "Створити рядок з символом переходу \nна новий рядок та роздрукувати його в консоль."
print(line_1)

Створити рядок з символом переходу
на новий рядок та роздрукувати його в консоль.

4. Зробити рядок з завдання №3 "сирим"(raw), вивести в консоль та порівняти з результатом в попередному завданні.

In [6]:
line_1_raw = r"Створити рядок з символом переходу \nна новий рядок та роздрукувати його в консоль."
print(line_1_raw)

Створити рядок з символом переходу \nна новий рядок та роздрукувати його в консоль.

*місце для коментарів щодо результатів порівняння

5. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [7]:
my_name = 'Kondratenko'
print(f'My surname is {my_name}')

My surname is Kondratenko

6. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [9]:
my_crazy_dog = 'My dog is crazy.'
dog_list_1 = my_crazy_dog.lower().split(' ')
print(dog_list_1)

['my', 'dog', 'is', 'crazy.']

# II. Множини (Set).

7. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [10]:
set_var1 = set()
set_var1.add(1)
set_var1.add(2)
set_var1.add(3)
set_var1

{1, 2, 3}

*місце для відповіді

8. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [12]:
my_list_1 = [1, 1, 2, 67, 67, 8, 9]
my_set_1 = set(my_list_1)
my_set_1

{1, 2, 8, 9, 67}

9. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [15]:
my_set_1 = {1, 3, 7, 9, 5, 17}
my_set_2 = {1, 3, 7, 9, 2, 6}

print(my_set_1.union(my_set_2))
print(my_set_1.difference(my_set_2))
print(my_set_1.intersection(my_set_2))
print(my_set_1.symmetric_difference(my_set_2))

{1, 2, 3, 5, 6, 7, 9, 17}
{17, 5}
{1, 3, 9, 7}
{17, 2, 5, 6}

10. Створіть множину з пʼяти елементів. За допомогою спеціального методу, вилучіть три елементи один за одним з множини. Чи може гарантуватися порядок елементів у множинах?

In [14]:
my_set_1 = {1,5,7,8,9}
print(my_set_1)
my_set_1.remove(1)
print(my_set_1)
my_set_1.remove(7)
print(my_set_1)
my_set_1.remove(5)

{1, 5, 7, 8, 9}
{5, 7, 8, 9}
{5, 8, 9}

Так може, порядок не буде змінюватися

# III. Словники (Dictionary).

11. Створіть пустий словник двома способами.

In [28]:
my_dict_1 = dict()
my_dict_2 = {
    1:'t',
    2:'f'
}

12. До одного зі словників вище додайте чотири пари елементів такі, щоб їхні ключі були різних типів.

In [29]:
my_dict_2.update({'g':False,'io':[2,2,2],(3,1):1,'5':(2,3)})
print(my_dict_2)

{1: 't', 2: 'f', 'g': False, 'io': [2, 2, 2], (3, 1): 1, '5': (2, 3)}

дивлячись на вивід програми можно сказати точно що: ключем він не може бути бо, список є змінним обєктом

13. Використовуючи той самий словник, отримайте по ключу будь-яке значення з наявних. Тепер видаліть цю пару ключ-значення. Спробуйте знову отримати значення по цьому ж ключу. Використовуючи спеціальний метод, виправте помилку.

In [30]:
print(my_dict_2)
del my_dict_2[1]
print(my_dict_2.get(1, 'Incorrect'))

{1: 't', 2: 'f', 'g': False, 'io': [2, 2, 2], (3, 1): 1, '5': (2, 3)}
Incorrect

# IV. Оператори порівняння та логічні оператори. Умови.

14. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [31]:
like_number = 7
if like_number % 2 == 0 :
    print(like_number * 2)
else:
    print((like_number * 3) + 1)

22

15. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [33]:

my_name = "Igor"

if 'a' in my_name.lower() or 'i' in my_name.lower():
    print("A or I is in the name")

if 'o' in my_name.lower() and 'n' in my_name.lower():
    print("O and N is in the name")

if 'o' not in my_name.lower() and 'n' in my_name.lower():
    print("Only N is in the name")

if 'n' not in my_name.lower():
    print("There is no N in the name, but there might be O")

A or I is in the name
There is no N in the name, but there might be O

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.